<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitLab Issues</title>
    <link rel="icon" href="/images/giticon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Gitlab issues for my maintainer repo</h1>
    <button onclick="window.location.href='/logout'" id="logoutButton">Log out!</button>
    <div class="issues-container">
        <div id="open-issues" class="issues-column">
            <h2>Open Issues</h2>
        </div>
        <div id="closed-issues" class="issues-column">
            <h2>Closed Issues</h2>
        </div>
    </div>
    <script src="./js/displayIssues.js"></script>
</body>
</html>